* {
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
body {
	width: 100%;
	min-height: 100vh;
	background: #0F172A;
	flex-direction: column;
	display: flex;
}
nav {
    width: 100%;
    height: 10vh;
    position: sticky;  
    top: 0;
    z-index: 1000;      
}
.nav-container {
       width: 100%;
       height: 100%;
       display: flex;
       justify-content: space-between;
       align-items: center;
}
.logo {
	color: #3B82F6;
	position: absolute;
	top: 18px;
	left: 15px;
	font-size: 2rem;
	font-weight: bold;
}
.logo span{
	color: #22C55E;
	text-shadow: 0 0 10px #22C55E;
}
nav .fa-bars{
	cursor: pointer;
	position: absolute;
	right: 15px;
	top: 15px;
	color: #3B82F6;
	display: none;
	font-size: clamp(2.5rem, 0.5rem + 5vw, 3rem);
}
nav #toggler{
	cursor: pointer;
	position: absolute;
	right: 25px;
	top: 25px;
	display: none;
}
.links {
	margin-left: auto;
	margin-right: 10%;
}
.nav-container .links a{
	font-size: 1.2rem;
	color: #3B82F6;
	margin: 0 20px;
	text-decoration: none;
	transition: 0.3s linear;
}
.nav-container .links a:hover{
	color: #22C55E;
	border-bottom: 2px solid #22C55E;
}
.dropdown {
	position: absolute;
	top: 0;
	transform: translateY(-500px);
	width: 100%;
	height: auto;
	backdrop-filter: blur(4px) brightness(40%);
	box-shadow: 0 0 20px #0F172A;
	transition: 0.3s linear;
	z-index: 100;
}
.dropdown .links a{
	display: flex;
	color: #3B82F6;
	text-decoration: none;
	padding: 15px 0;
	justify-content: center;
	align-items: center;
}
.dropdown .links a{
	justify-content: center;
	align-items: center;
	transition: 0.3s linear;
}
.dropdown .links a:hover{
	background-color: #22C55E;
}
.links a.active,
.dropdown .links a.active {
    color: #22C55E;
    border-bottom: 2px solid #22C55E; 
}
section{
	width: 100%;
	min-height: 90vh;
}
.main-container{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.main-container .content{
	color: white;
	width: 40%;
	min-height: 100px;
	box-shadow: 0 0 120px 50px #0F172A;
}
.content h1{
	font-size: clamp(1rem, 1rem + 5vw, 1.8rem);
}
.content h1 span{
	font-weight: 700;
	text-shadow: 0 0 10px #22C55E;
	color: #22C55E;
}
.content .typewriter{
	font-size: clamp(1rem, 1rem + 5vw, 2.5rem);
	font-weight: 700;
	margin: 10px 0;
}
.typewriter span{
	color: #22C55E;
	text-shadow: 0 0 10px #22C55E;
}
.content p{
	font-size: clamp(0.8rem, 0.5rem + 3vw, 1.2rem);
	margin: 20px 0;
	text-align: justify;
}
.social-links i{
	color: #22C55E;
	margin: 0 15px;
	font-size: 1.8rem;
	transition: 0.3s linear;
	margin-bottom: 100px;
}
.social-links i:hover{
	filter: drop-shadow(0 0 10px #22C55E);
	scale: 1.3;
}
.main-container .image{
	width: 500px;
	height: 80vh;
	border-radius: 100%;
	overflow: hidden;
	box-shadow: 0 0 35px #22C55E;
	z-index: -1;
	animation: floatImage 4s ease-in-out infinite;
}
.main-container .image img{
	width: 100%;
	height: 100%;
}
.about{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.about .about-content{
	color: white;
	width: 40%;
	min-height: 100px;
	box-shadow: 0 0 120px 50px #0F172A;
}
.about-content h2{
	font-size: 2.8rem;
}
.about-content h2 span{
	font-weight: 700;
	text-shadow: 0 0 10px #22C55E;
	color: #22C55E;
}
.about-content p{
	font-size: 1.2rem;
	margin: 20px 0;
	text-align: justify;
}
.about .about-img{
	width: 350px;
	height: 45vh;
	border-radius: 10%;
	overflow: hidden;
	box-shadow: 0 0 50px #22C55E;
	z-index: -1;
}
.about .about-img img{
	width: 100%;
	height: 100%;
	animation: floatImage 4s ease-in-out infinite;
}
.skills{
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column; 
	align-items: center;
	color: white;
	padding: 100px 10%;
}
.skills h2{
	font-size: 2.8rem;
	margin-bottom: 40px;
	text-align: center;
}
.skills h2 span{
        font-weight: 700;
        text-shadow: 0 0 10px #22C55E;
	 color: #22C55E;
}
.skills-container{
	display: flex;          
	justify-content: center;
	gap: 40px;              
	flex-wrap: wrap; 
}
.skills-box{
	width: 260px;
	padding: 25px;
	text-align: center;
	border-radius: 20px;
	box-shadow: 0 0 5px rgba(59,130,246,0.4);
	transition: all 0.3s ease;
	flex: 1;
}
.skills-box:hover{
	transform: translateY(-10px) scale(1.03);
	box-shadow: 0 0 20px rgba(59,130,246,0.8);
}
.skills-box h3{
        font-size: 1.5rem;
        margin-bottom: 10px;
}
.skills-box p{
	font-size: 1.2rem;
}
.skills-box i{
	font-size: 1.5rem;
	color: #3B82F6;
	margin-bottom: 10px;
}
.projects{
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column; 
	align-items: center;
	color: white;
	padding: 100px 10%;
}
.projects h2{
	font-size: 2.8rem;
	margin-bottom: 40px;
	text-align: center;
}
.projects h2 span{
        font-weight: 700;
        text-shadow: 0 0 10px #22C55E;
	 color: #22C55E;
}
.card-container{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 40px;
}
.card{
	width: 100%;
	max-width: 350px;
	padding: 2em;
	margin: 0 auto;
	text-align: center;
	border-radius: 20px;
	box-shadow: 0 0 20px rgba(59,130,246,0.4);
	flex: 1;
	border: 2px solid transparent;
	background-clip: padding-box;
	position: relative;
	background: #0f172a;
	color: white;

	transition: transform 0.4s ease, box-shadow 0.4s ease;
	transform-style: preserve-3d;
}

.card:hover{
	transform: rotateX(8deg) rotateY(-8deg) translateY(-10px);
	box-shadow: 0 20px 40px rgba(0,0,0,0.5);
}

.card::before{
	content: "";
	position: absolute;
	inset: -2px;
	border-radius: 20px;

	background: linear-gradient(
		90deg,
		#3b82f6,
		#06b6d4,
		#3b82f6
	);

	background-size: 300% 300%;
	z-index: -1;

	animation: borderGlow 4s linear infinite;
}

@keyframes borderGlow{
	0%{background-position:0% 50%;}
	50%{background-position:100% 50%;}
	100%{background-position:0% 50%;}
}
.card img{
	width: 100%;
	height: auto;
	margin-bottom: 10px;
	border-radius: 50%;
	box-shadow: 0 0 10px rgba(59,130,246,0.4);
}
.card h3{
	font-size: 1.3rem;
	margin-bottom: 10px;
}
.card p{
       font-size: 1.2rem;
       text-align: center;
}
.contact{
    width: 100%;
    min-height: 90vh;
    padding: 100px 10%;
    background: #0F172A;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact h2{
    font-size: 2.8rem;
    margin-bottom: 40px;
    text-align: center;
}
.contact h2 span{
    color: #22C55E;
    text-shadow: 0 0 10px #22C55E;
}
.contact-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    width: 100%;
    max-width: 1200px;
}
.contact-info{
    flex: 1;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.info-box{
    position: relative;
    padding: 20px;
    border-radius: 20px;
    background: #0F172A;
    color: white;
    text-align: center;
    overflow: hidden;
    flex: 1;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 1;
}
.info-box:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(34,197,94,0.6);
}
.info-box::before{
    content: "";
    position: absolute;
    inset: -2px;
    border-radius: 20px;
    background: linear-gradient(
        90deg,
        #3B82F6,
        #06B6D4,
        #3B82F6
    );
    background-size: 300% 300%;
    z-index: -1;
    animation: borderGlow 4s linear infinite;
}
.info-box i{
    font-size: 2rem;
    color: #3B82F6;
    margin-bottom: 10px;
    z-index: 2;
    position: relative;
}
.info-box h3{
    font-size: 1.2rem;
    margin-bottom: 5px;
    z-index: 2;
    position: relative;
}
.info-box p{
    font-size: 1rem;
    color: #D1D5DB;
    z-index: 2;
    position: relative;
}
.contact-form{
    flex: 1;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.contact-form input,
.contact-form textarea{
    padding: 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 1rem;
    resize: none;
    background: #1E293B;
    color: white;
}
.contact-form input:focus,
.contact-form textarea:focus{
    border: 2px solid #3B82F6;
}
.contact-form button{
    padding: 15px;
    background: #3B82F6;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
}
.contact-form button:hover{
    background: #22C55E;
    transform: translateY(-3px);
}
.footer{
       background: #0F172A;
       text-align: center;
       padding: 10px 0;
       margin-top: auto;
 }
.footer-text p{
       color: white;
       margin: 0;
       font-size: 20px;
       padding: 7px;
 }
.show{
	animation: text-appear both;
	animation-timeline: view();
	animation-range: entry 60% cover 80%;
}
@keyframes text-appear{
	from{
        opacity: 0;
        transform: translateY(100px);
	}
	to{
	    opacity: 1;
	    transform: translateY(0);
	}
}
.about-img{
	animation: about-img both;
	animation-timeline: view();
	 animation-range: entry 10% cover 25%;

}
@keyframes about-img{
	from{
	filter: blur(5px);
        opacity: 0;
        scale: .50;
        translate: 0 4rem;
	}
	to{
	    filter: none;
	    opacity: 1;
	    scale: 1;
	    translate: 0 0;
	    animation: floatImage 4s ease-in-out infinite;
	}
}
.show-p{
       animation: show-p both;
       animation-timeline: view();
       animation-range: entry 20% cover 60%;
}
@keyframes show-p{
	from{
        opacity: 0;
        transform: translateY(100px);
	}
	to{
	    opacity: 1;
	    transform: translateY(0);
	}
}
.head{
	    animation: head both;
	    animation-timeline: view();
	    animation-range: entry 5% cover 50%;
}
@keyframes head{
	from{
        opacity: 0;
        transform: translateY(100px);
	}
	to{
	    opacity: 1;
	    transform: translateY(0);
	}
}
.skills-box{
	    animation: skills-box both;
	    animation-timeline: view();
	    animation-range: entry 25% cover 40%;
}
@keyframes skills-box{
	from{
        opacity: 0;
        scale: .50;
        translate: 0 4rem;
	}
	to{
	    filter: none;
	    opacity: 1;
	    scale: 1;
     	translate: 0 0;
	}
}
.card{
       animation: card both;
       animation-timeline: view();
       animation-range: entry 20% cover 40%;
}
@keyframes card{
	from{
        opacity: 0;
        scale: .50;
        translate: 0 4rem;
	}
	to{
	    filter: none;
    	opacity: 1;
    	scale: 1;
	    translate: 0 0;
	}
}
@keyframes floatImage{
	0%{
		transform: translateY(0);
	}
	50%{
		transform: translateY(-1rem);
	}
	100%{
		transform: translateY(0);
	}
}
@media (max-width: 1056px){
	.main-container{
		display: flex;
		flex-direction: column-reverse;
	}
	.about{
		display: flex;
		flex-direction: column;
	}
	.nav-container .links{
		display: none;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 20px;
	}
	.social-links a{
		font-size: 40%;
	}        
	nav .fa-bars{
		display: block;
	}
	.dropdown{
		position: absolute;
		top: 0;
	       transform: translateY(70px);
	       width: 100%;
	       height: auto;
	       backdrop-filter: blur(4px) brightness(40%);
	       box-shadow: 0 0 20px #0F172A;
	       transition: 0.3s linear;
	       z-index: 100;	
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	}
	.dropdown .links {
             padding: 0;
             margin: 0;
             width: 100%;
       }
	.dropdown .links a {
             display: block;
             width: 100%;      
             padding: 15px 20px; 
             text-align: center;
             color: #3B82F6;
             text-decoration: none;
             transition: 0.3s linear;
             box-sizing: border-box;
       }
       .dropdown .links a:hover{
	    background-color: #22C55E;
	    color: white;
       }
 	#toggler:checked ~ .dropdown{
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}
	.main-container .content{
		width: 80%;
	}
	.about .about-content{
		width: 80%;
	}
	.about .about-content h2 {
		text-align: center;
	}
	.about .about-image{
		width: 60%;
		height: 70%;
	}
	.main-container .image{
		width: 40%;
		height: 25%;
	}
	.card img{
		width: 70%;
	}
	nav {
        position: static; 
      }
}
@media (max-width: 440px){
	.main-container .image{
		width: 50%;
		height: 40%;
	}
	.main-container .content{
		width: 80%;
	}
	.about .about-image{
		width: 70%;
		height: 40%;
	}
	.about .about-content{
		width: 70%;
	}
	.card img{
		width: 55%;
	}
	nav {
              position: static; 
      }
}
::-webkit-scrollbar{
	width: 10px;
}
::-webkit-scrollbar-track{
	background: #3B82F6;
	box-shadow: inset 0 0 5px #0F172A;
	border-radius: 20px;
}
::-webkit-scrollbar-thumb{
	background: #22C55E;
	border-radius: 20px;
}